<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/blog_css.css">
    <!-- All credit for the stars goes to https://www.script-tutorials.com/night-sky-with-twinkling-stars/ -->
    <link rel="stylesheet" type="text/css" href="/static/starry_css.css">
    <link rel="icon" href="/static/lotus.ico" sizes="32x32">
</head>

<body>
    <div class="nav-bar">
        <ul>
            <li {% if request.path == "/index/" %} class='active'{% endif %}><a href="/index">Home</a></li>
            <li {% if request.path == "/blog/" %} class='active'{% endif %}><a href="/blog">Blog</a></li>
            <li {% if request.path == "/feedback/" %} class='active'{% endif %}><a href="/feedback">Feedback</a></li>
            <li {% if request.path == "/about/" %} class='active'{% endif %}><a href="/about">About</a></li>
            {% if request.path == '/admin/' %}
				<li style="float:right"><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="stars"></div>
    <div class="twinkling"></div>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>

    {% block body %}{% endblock %}

</body>

</html>